.cartProdWrapper {    
    display: flex;
    justify-content: space-between;
    color: #26292e;
    margin-bottom: 20px;
}

.prodInf {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartLine {
    display: block;
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}

.cartItemTitle {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 15px;
}

.cartItemSubtitle {
    display: block;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 15px;
}

.prodPrice {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    margin-bottom: 25px;
}

.prodPrice span {
    min-height: 23px;
    display: flex;
    align-items: flex-start;
}

.attributesWrapper {
    display: flex;
    flex-direction: column;    
}

.attributeTypeWrapper {
    /* width: 300px; */
    display: flex;
    margin-bottom: 10px;   
}

.attrButtonsWrapper {
    max-width: 290px;
}

.size {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #fff;
    border: 1px solid #1D1F22;
    cursor: pointer;
    position: relative;
}

.sizeActive {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #1D1F22;
    color: #fff;
    border: 1px solid #1D1F22;
    position: relative;    
}

.color {    
    height: 45px;    
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;    
} 

.colorActive {    
    height: 45px;    
    border: 2px solid #c9380c;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;     
}

.displayValue {
    display: block;
    position: absolute;
    padding: 3px;
    border: 1px solid #1D1F22;
    border-radius: 5px;
    top: 50px;
    background-color: #fff;
    color: #1D1F22;
    display: none;
    z-index: 8;
}

.colorActive .displayValue,
.sizeActive .displayValue {
    color: #1D1F22;
}

.color:not(:last-child),
.colorActive:not(:last-child),
.size:not(:last-child),
.sizeActive:not(:last-child) {
    margin-right: 7px;
}

.color:hover .displayValue,
.colorActive:hover .displayValue,
.size:hover .displayValue,
.sizeActive:hover .displayValue {
    display: block;
}

.prodImage {
    display: flex;
}

.galleryWrapper {
    width: 140px;
    position: relative;
    display: flex;
    align-items: center;
}

.sliderDisplayLeft {
    width: 10px;
    height: 25px;
    padding: 7px;
    position: absolute;
    right: 84%;
    bottom: 50%;
    background-image: url(../../../Images/left.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color:rgba(194, 192, 192, 0.5);
}

.sliderDisplayRight {
    width: 10px;
    height: 25px;
    padding: 7px;
    position: absolute;
    right: 3%;
    bottom: 50%;
    background-image: url(../../../Images/right.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    background-color:rgba(194, 192, 192, 0.5);
}

.sliderDisplayRight:hover {
    border: 2px solid rgba(138, 132, 132, 0.7);
    cursor: url(../../../Images/slider-right.png), s-resize;
}

.sliderDisplayLeft:hover {
    border: 2px solid rgba(138, 132, 132, 0.7);
    cursor: url(../../../Images/slider-left.png), s-resize;
}

.gallery {
    width: 140px;
    height: 185px;
    display: flex;
    overflow: hidden;
}

.galleryItem {
    min-width: 140px;
}

.imgDisplay {
    width: 100%;       
    display: block;
}

.imgHidden {    
    display: none;

}

.countButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.countButtons button {
    width: 25px;
    height: 25px;
    font-weight: 600;
    font-family: Source Sans Pro;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.countButtons span {
    font-weight: 500;
    font-size: 16px;
}

@media screen and (max-width: 600px) {
    /* .attributeTypeWrapper {
       width: 250px;
    } */
}

@media screen and (max-width: 480px) {
    .cartProdWrapper {
        flex-direction: column;
    }

    .prodImage {
        justify-content: space-between;
    }
}

@media screen and (max-width: 425px) {
    .cartItemTitle,
    .cartItemSubtitle {
        font-size: 22px;
    }

    .color:not(:last-child),
    .colorActive:not(:last-child),
    .size:not(:last-child),
    .sizeActive:not(:last-child) {
        margin-right: 5px;
    }
}

@media screen and (max-width: 375px) {    
    .cartItemTitle,
    .cartItemSubtitle {
        font-size: 24px;
    }    
}

@media screen and (max-width: 320px) {    
    .cartItemTitle,
    .cartItemSubtitle {
        font-size: 24px;
    }
    
    .attrButtonsWrapper {
        max-width: 250px;
    }
}

