.cart {
    margin-top: 80px;
    color: #1D1F22;
    padding-bottom: 40px;    
}

.cartWrapper {
    width: 75%;
}

.cartTitle {
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.cartTitle > span {
    font-weight: 300;
    font-size: 16px;
}

@media screen and (max-width: 1152px) {
    .cartWrapper {
        width: 90%;
    }
}

@media screen and (max-width: 800px) {
    .cartWrapper {
        width: 100%;
    }
}

