.popUp {
    position: absolute;
    width: 80vw;
    height: 100vh;
    padding: 0 10%;
    padding-top: 10%;
    top: 0;
    left: 0;   
    background-color: rgba(206, 209, 202, 0.3);
    z-index: 3; 
}

.innerPopUp, .innerPopUp > img {
    width: 100%;
}