.title {
    font-weight: normal;
    font-size: 42px;
    color: #1D1F22;
    margin-bottom: 90px;
    text-transform: capitalize;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #1D1F22;
}

.productItem {
    display: flex;
    flex-direction: column;
    width: 30%;
    min-height: 500px;
    margin-bottom: 130px;
    padding: 10px;
    position: relative;
}

.productItem:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.productItem:hover .prodAdd {
    display: block;
}

.productItem:hover .inStockFalse {
    display: block;
}

.productItem:hover .prodSignIn {
    visibility: visible;
}

.priceNumber {
    display: block;
    padding-left: 3px;
}

.prodLink > img {
    width: 100%;
    background-color: rgb(226, 220, 220);
}

.prodInf {
    margin-top: auto;
}

.prodTitle {
    display: block;
    font-weight: 300;
    font-size: 18px;   
    margin-bottom: 10px; 
}

.prodPrice {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    margin-bottom: 25px;
}

.prodPrice span {
    min-height: 23px;
    display: flex;
    align-items: flex-start;
}

.prodAdd {
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
    background-color: #5ECE7B;
    position: absolute;
    top: 70%;
    left: 80%;
    display: none;
    cursor: cell;
}

.prodSignIn {
    visibility: hidden;
    width: 55px;
    height: 55px;
    padding: 2px;
    color: crimson;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 50%;
    background-color: rgba(227, 240, 196, 0.8);
    position: absolute;
    top: 70%;
    left: 70%;    
    cursor: pointer;
}

.prodAdd:hover {
    border: 2px solid #31a550;
}

.cartIcon {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../../../Images/white-cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.redLine {
    display: none;
    width: 3px;
    height: 48px;
    left: 21px;
    top: -1px;
    transform: rotate(45deg);
    position: absolute;
    background-color: crimson;
}

.inStockFalse {
    width: 50px;
    height: 50px;
    border: 2px solid crimson; 
    border-radius: 50%;
    background-color: #c8e98c;
    position: absolute;
    top: 70%;
    left: 80%;
    display: none;
    cursor: not-allowed;   
}

.inStockFalse .redLine {
    display: block;
}

@media screen and (max-width: 800px) {
    .title {
        margin-bottom: 40px;
    }

    .productItem {
        min-height: 380px;
        margin-bottom: 30px;
    }

    .prodPrice {        
        margin-bottom: 5px;
    }
    
}

@media screen and (max-width: 600px) {
    .productItem {
        min-height: 350px;
        width: 45%;
    }
    
}

@media screen and (max-width: 480px) {
    .productItem {
        min-height: 400px;
        width: 95%;
    }
    
}

