.cartMiniWrapper {
    position: relative;      
}

.cartMini {
    width: 355px;   
    display: flex;
    flex-direction: column;
    color: #1D1F22;
    background-color: #fff;
    padding: 15px 0;
    padding-bottom: 100px;
    position: absolute;
    left: 67%;
}

.cartTitle {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 25px;
    padding: 0 15px;
}

.cartTitle span {
    font-weight: 500;    
}

.cartMiniListWrapper {    
    max-height: 68vh;
    overflow-y: auto;
    padding: 0 15px;    
}

.productList {
    
}

.prodSumm {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    padding-top: 20px;
}

.prodSummNumber {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
}

.prodButtons {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;    
}

.prodButtons > button {
       
}

.viewButton {
    background-color: #ffffff;
    border: 1px solid #1D1F22;
    cursor: pointer;
}

.cartLink {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #1D1F22;
}

.checkButton {
    background-color: #5ECE7B;
    color: #fff;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 1024px) {
    .cartMini {
        left: 60%;
    }
}

@media screen and (max-width: 800px) {
    .cartMini {
        left: 50%;
    }
}

@media screen and (max-width: 600px) {
    .cartMini {
        left: 40%;
    }
}

@media screen and (max-width: 480px) {
    .cartMini {
        left: 20%;
    }
}

@media screen and (max-width: 425px) {
    .cartMini {
        left: 15%;
        width: 300px;
        padding: 7px;
    }
}

@media screen and (max-width: 375px) {
    .cartMini {        
        width: 280px;
    }
}

@media screen and (max-width: 320px) {
    .cartMini {
        width: 250px;
        left: 10%;
    }
}