.productItem {
	display: flex;
	justify-content: space-between;
	margin-top: 80px;
	color: #1d1f22;
}

.productItem:hover .signIn {
	visibility: visible;
}

.galleryWrapper {
	display: flex;
}

.galleryItem {
	list-style: none;
	width: 80px;
	margin-bottom: 30px;
}

.imgBig {
	position: absolute;
	width: 80vw;
	padding: 10%;
	top: 0;
	left: 0;
	background-color: rgba(206, 209, 202, 0.3);
	z-index: 3;
}

.mainImgBig {
	position: absolute;
	width: 80vw;
	padding: 10%;
	top: 0;
	left: 0;
	background-color: rgba(206, 209, 202, 0.3);
	z-index: 3;
}

.closeBigImage {
	position: absolute;
	color: crimson;
	border-radius: 50%;
	padding: 0 11px 2px 11px;
	font-size: 28px;
	border: 0;
	background-color: #fff;
	cursor: pointer;
	top: 7%;
	left: 7%;
	z-index: 4;
}

.imgGalleryItem {
	width: 100%;
	cursor: zoom-in;
}

.imgProd {
	margin-left: 40px;
	width: 610px;
	display: flex;
	align-items: flex-start;
}

.mainImgBig > img {
	width: 100%;
}

.imgProd > img {
	width: 100%;
	cursor: zoom-in;
}

.prodWrapper {
	display: flex;
	flex-direction: column;
	margin: 0;
}

.title {
	display: block;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 5px;
}

.subtitle {
	display: block;
	font-weight: normal;
	font-size: 30px;
	margin-bottom: 45px;
}

.sizeTitle {
	display: block;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.chooseSize {
	width: 290px;
	margin-bottom: 40px;
	display: flex;
	justify-content: space-between;
}

.attrButtonsWrapper {
	max-width: 100%;
}

/* .size {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #fff;
    border: 1px solid #1D1F22;
    cursor: pointer;
    position: relative;
}

.sizeActive {    
    height: 45px;
    font-family: Source Sans Pro;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.05em;
    background-color: #1D1F22;
    color: #fff;
    border: 1px solid #1D1F22;
    position: relative;    
}

.color {    
    height: 45px;    
    border: 1px solid #1D1F22;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;    
} 

.colorActive {    
    height: 45px;    
    border: 2px solid #c9380c;
    font-family: Source Sans Pro;
    font-size: 16px;
    position: relative;     
}

.displayValue {
    display: block;
    position: absolute;
    padding: 3px;
    border: 1px solid #1D1F22;
    border-radius: 5px;
    top: 50px;
    color: #1D1F22;
    display: none;
}

.colorActive .displayValue,
.sizeActive .displayValue {
    color: #1D1F22;
}

.color:hover .displayValue,
.colorActive:hover .displayValue,
.size:hover .displayValue,
.sizeActive:hover .displayValue {
    display: block;
} */

.priceTitle {
	display: block;
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.prodPrice {
	display: flex;
	font-weight: bold;
	font-size: 24px;
	margin-bottom: 20px;
}

.currencySimbol {
	display: block;
}

.currencyAmount {
	display: block;
	margin-left: 3px;
}

.addWrapper {
	position: relative;
}

.add {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	background-color: #5ece7b;
	width: 290px;
	padding: 10px 0;
	border: none;
	cursor: cell;
}

.signIn {
	/* display: none;     */
	font-weight: 600;
	font-size: 16px;
	color: crimson;
	background-color: rgba(227, 240, 196, 0.8);
	width: 150px;
	padding: 15px 0;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	position: absolute;
	top: -20px;
	left: 25%;
}

.inStock {
	display: block;
}

.out {
	display: none;
}

.inStockFalse {
	font-weight: 600;
	font-size: 16px;
	color: #fff;
	text-transform: uppercase;
	background-color: #c8e98c;
	width: 290px;
	padding: 10px 0;
	border: none;
	cursor: pointer;
	display: flex;
	justify-content: center;
	text-align: center;
	cursor: not-allowed;
}

.inStockFalse:hover > .inStock {
	display: none;
}

.inStockFalse:hover > .out {
	display: block;
	color: crimson;
}

.prodDescription {
	margin-top: 20px;
	display: block;
	width: 290px;
	font-size: 16px;
	line-height: 26px;
}

.prodDescription h1 {
	font-size: 18px;
	margin-bottom: 2px;
}

.prodDescription li {
	margin-bottom: 2px;
}

@media screen and (max-width: 1280px) {
	.imgProd {
		width: 550px;
	}
}

@media screen and (max-width: 1152px) {
	.imgProd {
		margin-left: 25px;
		width: 495px;
	}
}

@media screen and (max-width: 1024px) {
	.imgProd {
		width: 400px;
	}
}

@media screen and (max-width: 800px) {
	.productItem {
		flex-direction: column;
		margin-top: 30px;
	}

	.galleryWrapper {
		flex-direction: column;
		justify-content: space-between;
	}

	.galleryList {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.galleryItem {
		width: 80px;
		margin-bottom: 30px;
	}

	.imgProd {
		min-width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
	}

	.imgProd > img {
		width: 90%;
	}

	.prodWrapper {
		margin-left: 5%;
	}

	.subtitle,
	.chooseSize {
		margin-bottom: 20px;
	}

	.galleryList {
		margin-bottom: 20px;
	}
	.galleryItem {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 600px) {
	.galleryList {
		justify-content: start;
	}

	.galleryItem {
		padding-right: 5px;
		padding-bottom: 5px;
	}

	.imgGalleryItem {
		width: 100%;
	}
}

@media screen and (max-width: 425px) {
	.imgProd {
		width: 330px;
	}
}

@media screen and (max-width: 375px) {
	.imgProd {
		width: 300px;
	}

	.prodWrapper {
		margin-left: 2%;
	}

	.chooseSize,
	.add,
	.inStockFalse,
	.prodDescription {
		width: 100%;
	}
}

@media screen and (max-width: 320px) {
	.imgProd {
		width: 270px;
	}

	.chooseSize,
	.add,
	.inStockFalse,
	.prodDescription {
		width: 100%;
	}

	.prodWrapper {
		margin-left: 0;
	}
}
