.nav {
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.closeMenu {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 10px;
    border: 0;
    background-color: transparent;
    color: transparent;
    font-size: 0px;    
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;    
}

.menuItem {
    display: block;
    padding: 30px 10px;    
    border-bottom: 2px solid #fff;
}

.active {
    display: block;
    padding: 30px 10px;    
    border-bottom: 2px solid #5ECE7B;
}

.active .link {
    color: #5ECE7B;
}

.link, .linkHome {
    text-decoration: none;
    font-size: 16px;
    color: #1D1F22;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding: 7px;
    border-radius: 10px;
}

.link:hover {
    background-color:  #e8f8ec;
}

.logo {
    position: relative;
}

.logo:hover .clue {
    display: block;
}

.clue {
    position: absolute;
    left: -17px;
    top: 35px;
    padding: 7px;
    border-radius: 10px;
    background-color:  #e8f8ec;
    display: none;
}

.cartWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
}

.currency {
    display: block;
    font-weight: 500;
    font-size: 18px;
    color: #1D1F22;
    margin-right: 10px;   
}

.chooseCurrency {
    background-image: url(../../Images/vector.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;    
    width: 20px;
    height: 20px;
    margin: 0;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    z-index: 2; 
}

.chooseCurrency > ul {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 20px;
    left: -25px;
    padding-top: 20px;
    padding-left: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);  
}

.chooseCurrency > ul > li {
    display: block;
    width: 70px;
    font-weight: 500;
    font-size: 18px;
    color: #1D1F22;
    margin-bottom: 10px;
}

.chooseCurrency:hover > ul {
    display: block;   
}

.cartLink {    
    background-image: url(../../Images/empty-cart.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 20px;
    height: 20px;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
}

.fromCartLink {
    display: block;
    width: 20px;
    height: 20px;    
    position: absolute;
    left: 10px;
}

.cartLinkIcon {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #1D1F22;
    position: absolute;
    top: -10px;
    left: 19px;
    color: #fff;
    font-size: 14px;
    justify-content: center;
    align-items: center;
}

.hidden {
     
}

.popUp {
    position: fixed;
    width: 100%;
    /* min-height: max-content; */
    height: 100vh;
    background-color: rgba(206, 209, 202, 0.3);
    /* background-attachment: fixed;
    overflow-y: scroll; */
}

.innerPopUp {   
    display: inherit;
}

@media screen and (max-width: 800px), screen and (max-width: 800px) and (orientation: landscape) {
    .nav {
        margin-bottom: 45px;
    }

    .wrapper{
        position: relative;
    }

    .menuOpenWrapper{
        position: fixed;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(245, 203, 187, 0.2);
        z-index: 2;
    }

    .showMenu, .closeMenu {
        position: static;
        text-decoration: none;
        font-size: 16px;
        color: #1D1F22;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        width: auto;
        padding: 25px 5px;
        border: none;
        border-radius: 20px;
        background-color: transparent;
        cursor: pointer;
        z-index: 3;
        cursor: pointer;
    }

    .showMenu {
        display: none;
    }

    .showMenu:hover {
        background-color:  #e8f8ec;          
    }

    .link {
        color: #fff;
        font-weight: 500;
    }

    .closeMenu {
        color: rgba(247, 242, 242, 0.5);
        font-size: 16px;
        text-transform: none;
        width: 150px;
        position: fixed;
        left: 10px;
        top: 5px;
    }

    .menu {
        display: none; 
        flex-direction: column;
        justify-content: start;
        position: fixed;
        left: 0;
        top: 0;
        padding-top: 70px;
        padding-right: 30px;
        padding-left: 80px;        
        width: 100px;
        height: 100vh;        
        background-color: rgba(3, 3, 3, 0.8);
        z-index: 2;
    }

    .menuItem {            
        border-bottom: 2px solid transparent;
        padding: 25px 0;
    }

    .active {
        padding: 25px 0;
    }    

    .link:hover {
        background-color: transparent;
    }

    .logo {
        position: absolute;       
        left: 45%;
        top: 15px;       
    }

    .cartWrapper {
        position: absolute;
        left: 80%;
        top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .menu {
        padding-left: 60px;
    }    
}

@media screen and (max-width: 480px) {
    .menu {
        padding-left: 50px;
    }
    
    .logo {
        left: 42%;
    }

    .cartWrapper {        
        left: 75%;        
    }
}

@media screen and (max-width: 425px) {
    .cartWrapper {        
        left: 70%;        
    } 
}

@media screen and (max-width: 375px) {
    .menu {
        padding-left: 40px;
    }    
}

@media screen and (max-width: 320px) {
    .logo {
        left: 35%;
    }
    
    .cartWrapper {        
        left: 64%;
    }
}

